html {
  height: 100%;
}

.body {
  height:           100%;
  font-family:      Verdana,Arial,Helvetica,sans-serif;
  font-size:        10pt;
  color:            #333;
  background-color: #fff;
  margin:           0;
  display:          block;
  box-sizing:       border-box;
}

/* Banner */

.banner-container {
  background:    #f9f9ff;
  height:        75px;
  border-bottom: 1px solid #ccc;
}

.banner-headline {
  font-family:  "Courier New",monospace;
  font-size:    220%;
  font-weight:  bold;
  padding-left: 8px;
  padding-top:  8px;
}

.banner-subhead {
  color:        #cccccc;
  font-size:    125%;
  padding-left: 8px;
  padding-top:  2px;
}

/* Menu */

.menu-container {
  color:         #cccccc;
  padding-top:   2px;
  padding-right: 2px;
  float:         right;
}

a.menu-link:link, a.menu-link:visited {
  color: #cccccc;
}

a.menu-link:hover, a.menu-link:active {
  color: #000000;
}

/* Main content */

.main-content-container {
  height:       100%;
  width:        100%;
  padding-left:  8px;
  padding-right: 8px;
}

.generic-content-container {
  padding-top: 8px;
}

.contact-container {
  width: 90%;
}

.vtop table, .vtop th, .vtop td {
  vertical-align: top;
}

.noborder {
  border: 0;
}

/* force all other columns to be as small as possible */
.expander {
  width: 99%;
}

/* Don't let expander make us wrap */
.nowrap {
  white-space: nowrap;
}

/* Error messages */

.error {
  font-size        : 80%;
  font-weight      : bold;
  color            : black;
  background-color : #ffdd99;
  border           : 1px solid red;
  width            : 600px;
  display          : block;
}

/* Buy Me a Coffee */
.bmc {
  border:       1px solid black;
  margin:       2px;
  text-align:   center;
  background:   #ecf9ec;
  color:        #666666;
  width:        600px;
}

/* Footer */

.footer {
  border:       1px solid black;
  margin:       6px 0px 0px 0px;
  font-family:  "Courier New", monospace;
  font-size:    50%;
  background:   #f2f2f2;
  color:        #666666;
  width:        600px;
}

.footer a:link, .footer a:visited {
    color:           #000000;
    text-decoration: none ;
}

td.details-control {
    background: url('/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/details_close.png') no-repeat center center;
}
